In [ ]:
# The code was removed by Watson Studio for sharing.

In [3]:
list(df_data_1)

['Loan ID',
 'Customer ID',
 'Loan Status',
 'Current Loan Amount',
 'Term',
 'Credit Score',
 'Annual Income',
 'Years in current job',
 'Home Ownership',
 'Purpose',
 'Monthly Debt',
 'Years of Credit History',
 'Months since last delinquent',
 'Number of Open Accounts',
 'Number of Credit Problems',
 'Current Credit Balance',
 'Maximum Open Credit',
 'Bankruptcies',
 'Tax Liens']

In [5]:
data = df_data_1[['Loan Status', 'Current Loan Amount', 'Term', 'Credit Score', 'Annual Income', 'Years in current job',  'Monthly Debt', 'Years of Credit History', 'Number of Open Accounts', 'Number of Credit Problems', 'Current Credit Balance', 'Maximum Open Credit']]data = data.dropna()

In [6]:
data = data.dropna()

In [7]:
data.count()

Loan Status                  77433
Current Loan Amount          77433
Term                         77433
Credit Score                 77433
Annual Income                77433
Years in current job         77433
Monthly Debt                 77433
Years of Credit History      77433
Number of Open Accounts      77433
Number of Credit Problems    77433
Current Credit Balance       77433
Maximum Open Credit          77433
dtype: int64

In [8]:
data = data.replace('Fully Paid', 1)
data = data.replace('Charged Off', 0)

In [9]:
data=data.replace('Short Term', 0.5)
data=data.replace('Long Term', 1)

In [14]:
data= data.replace('1 years', 1)
data= data.replace('1 year', 1)
data= data.replace('< 1 year', 0.9)
data= data.replace('2 years', 2)
data= data.replace('2 year', 2)
data= data.replace('3 years', 3)
data= data.replace('3 year', 3)
data= data.replace('4 years', 4)
data= data.replace('4 year', 4)
data= data.replace('5 years', 5)
data= data.replace('5 year', 5)
data= data.replace('6 years', 6)
data= data.replace('6 year', 6)
data= data.replace('7 years', 7)
data= data.replace('7 year', 7)
data= data.replace('8 years', 8)
data= data.replace('8 year', 8)
data= data.replace('9 years', 9)
data= data.replace('9 year', 9)
data= data.replace('10 years', 10)
data= data.replace('10 years', 10)
data= data.replace('10+ years', 11)