## Support vector machine

In [2]:
# The code was removed by Watson Studio for sharing.

In [3]:
df_data_1 = df_data_1.drop(df_data_1.index[30000:100513])

In [4]:
df_data_1.count()

Loan ID                         30000
Customer ID                     30000
Loan Status                     30000
Current Loan Amount             30000
Term                            30000
Credit Score                    24181
Annual Income                   24181
Years in current job            28737
Home Ownership                  30000
Purpose                         30000
Monthly Debt                    30000
Years of Credit History         30000
Months since last delinquent    13919
Number of Open Accounts         30000
Number of Credit Problems       30000
Current Credit Balance          30000
Maximum Open Credit             30000
Bankruptcies                    29939
Tax Liens                       29994
dtype: int64

In [5]:
data = df_data_1[['Loan Status', 'Current Loan Amount', 'Term', 'Credit Score', 'Annual Income', 'Years in current job',  'Monthly Debt', 'Years of Credit History', 'Number of Open Accounts', 'Number of Credit Problems', 'Current Credit Balance', 'Maximum Open Credit']]

In [6]:
data = data.dropna()

In [7]:
data.count()

Loan Status                  23159
Current Loan Amount          23159
Term                         23159
Credit Score                 23159
Annual Income                23159
Years in current job         23159
Monthly Debt                 23159
Years of Credit History      23159
Number of Open Accounts      23159
Number of Credit Problems    23159
Current Credit Balance       23159
Maximum Open Credit          23159
dtype: int64

In [8]:
data = data.replace('Fully Paid', 1)
data = data.replace('Charged Off', 0)

In [9]:
data=data.replace('Short Term', 0.5)
data=data.replace('Long Term', 1)

In [10]:
data= data.replace('1 years', 1)
data= data.replace('1 year', 1)
data= data.replace('< 1 year', 0.9)
data= data.replace('2 years', 2)
data= data.replace('2 year', 2)
data= data.replace('3 years', 3)
data= data.replace('3 year', 3)
data= data.replace('4 years', 4)
data= data.replace('4 year', 4)
data= data.replace('5 years', 5)
data= data.replace('5 year', 5)
data= data.replace('6 years', 6)
data= data.replace('6 year', 6)
data= data.replace('7 years', 7)
data= data.replace('7 year', 7)
data= data.replace('8 years', 8)
data= data.replace('8 year', 8)
data= data.replace('9 years', 9)
data= data.replace('9 year', 9)
data= data.replace('10 years', 10)
data= data.replace('10 years', 10)
data= data.replace('10+ years', 11)

In [11]:
data.tail()

,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Monthly Debt,Years of Credit History,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit
29993,1,503954.0,1.0,681.0,1149500.0,7.0,13602.48,12.9,15.0,0.0,310574.0,508640.0
29994,1,218086.0,0.5,743.0,1261923.0,11.0,16930.90,19.8,10.0,0.0,706230.0,1057870.0
29995,1,366212.0,0.5,734.0,717516.0,11.0,19672.03,22.4,9.0,0.0,478268.0,922966.0
29996,1,249436.0,1.0,730.0,678623.0,7.0,13233.12,17.6,14.0,0.0,89091.0,379236.0
29998,0,345708.0,1.0,708.0,1231561.0,11.0,17241.74,16.0,9.0,5.0,163571.0,518892.0

In [12]:
import numpy as np
import scipy.optimize as opt
from sklearn import preprocessing
%matplotlib inline 
import matplotlib.pyplot as plt

In [13]:
x = np.asarray(data[['Current Loan Amount', 'Term', 'Credit Score', 'Annual Income', 'Years in current job',  'Monthly Debt', 'Years of Credit History', 'Number of Open Accounts', 'Number of Credit Problems', 'Current Credit Balance', 'Maximum Open Credit']])

In [14]:
y = np.asarray(data['Loan Status'])

In [15]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split( x, y, test_size=0.2, random_state=4)
print ('Train set:', x_train.shape,  y_train.shape)
print ('Test set:', x_test.shape,  y_test.shape)

Train set: (18527, 11) (18527,)
Test set: (4632, 11) (4632,)

In [28]:
from sklearn import svm

In [41]:
clf = svm.SVC(kernel='rbf')
clf.fit(x_train, y_train) 
#clf=svm.SVC(probability = True)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [42]:
yhat = clf.predict(x_test)

In [36]:
yhat[0:5]

array([1, 1, 1, 1, 1])

## Evaluation

## F1_score

In [21]:
from sklearn.metrics import f1_score
f1_score(y_test, yhat)

0.88372093023255816

## Jaccard index

In [22]:
from sklearn.metrics import jaccard_similarity_score
jaccard_similarity_score(y_test, yhat)

0.79166666666666663

### Log loss

## NOT AVAILABLE